// ES5
var self = this;

this.cats.forEach(function(cat) {
  if (cat.name === "Kitty") {
    self.kitties.push(cat);
  }
})

// ES6
this.cats.forEach(cat => { 
  if (cat.name === "Kitty") {
    this.kitties.push(cat);
  }
})