import React, { Component } from "react";
import Unicorn from "./Unicorn";

export const Equestria = () => {
  return (
    <div className="Equestria">
      <Unicorn name="Pinkie pie" color="pink"/>
      <Unicorn name="Twilight Sparkle"/>
      <Unicorn name="Rainbow Dash" color="blue, green, red and yellow"/>
    </div>);
}