// condition ? [code when condition is true] : [code when condition is false]

// Plain JS
console.log(true ? "yes" : "no"); // yes

// React 
const Greeting = (props) => {
    return props.isLoggedIn ? 
      <UserGreeting /> : 
      <LoginButton />
    }
  }
}