const propTypes = {
  name: PropTypes.string.isRequired,
  color: PropTypes.string
}

const defaultProps = {
  color: "purple"
}

const Unicorn = (props) => ( 
  <div>
    Hi there, I am {this.props.name} and I am {this.props.color}
  </div>
);

Unicorn.propTypes = propTypes;
Unicorn.defaultProps = defaultProps;
export default Unicorn;