const propTypes = {
  fly: PropTypes.func.isRequired
}

class Unicorn extends Component {
  render() {
    return 
      <button onclick={this.props.fly}> Fly me </button>;
  }
}

Unicorn.propTypes = propTypes;

class Equestria extends Component {
  fly() {
    console.log("Oh look ! A flying Unicorn !")
  }

  render() {
    return <Unicorn fly={this.fly}/>;
  }
}