import { useState, useEffect } from "react";

const Clock = () => {
  const [date, setDate] = useState(new Date());

  useEffect(() => {
    // componentDidMount 

     return () => {
      // componentWillUnmount 
    }
  }, []);

  return (
    <>
      <h1>Hello, world!</h1>
      <h2>It is {this.state.date.toLocaleTimeString()}.</h2>
    </>
  );
}