const propTypes = {
  name: PropTypes.string.isRequired
}

class Unicorn extends Component {
  render() {
    return 
      <div> {this.props.name} </div>;
  }
}

Unicorn.propTypes = propTypes;

class Equestria extends Component {
  render() {
    return <Unicorn name="Pinkie pie"/>;
  }
}