import { useState } from "react";

const NameInput = () => {
  const [name, setName] = useState('')

  handleNameChange = event => {
   setName(event.target.value);
  };

  return (
    <input
      value={name}
      onChange={handleNameChange}
    />
  );
}